.search {
  width: 45rem;
  margin: 0 auto;
  background-color: #ebebeb;
  font-size: 1.2rem;
  padding: 1.5rem;
  border: 1px solid black;

  @media only screen and (max-width: 767px) {
    width: 100%;
    padding: 0.5rem;
  }

  &__label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__inline {
    display: flex;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }

    &__input {
      width: 20rem;
      padding: .5rem;
      margin-right: auto;
      font-size: 1.4rem;
      
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}
